header, footer {
    border: 3px solid #000000;
    text-align: center;
    background-color: #D5E5F2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c9c8c8;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

.active {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #747f87;
    text-decoration: underline;
}

a.skip {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

a.skip:focus {
    position: static;
    width: auto;
    height: auto;
}



